/*************** reset setting ***************/


h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

ul {
    list-style-type: none;
}


/*************** layout ***************/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    min-width: 800px;
    width: 100%;
    max-height: 750px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.layout { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 140px;
}

main {
    display: flex;
    gap: 50px;
}

.fans-container-left {
    margin-top: 20px;
}

.fans-container-right {
    margin-top: 100px;
}


/*************** fans ***************/
.front h2 {
    font-family: "Protest Revolution", serif;
    font-size: 1.8em;
    color: #3D3836;
    padding: 5px 20px;
    border-radius: 20px;
}

.fan ul {
    padding: 5px 20px;
    border-radius: 20px;
}

ul li a {
    font-family: 'Rasa', Arial;
    font-size: 1.1em;
    line-height: 1.4em;
    color: rgba(61,56,54);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.fans-container-left, .fans-container-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fan {
    perspective: 1000px;
}

.redfan, .greenfan {
    position: relative;
    width:330px;
    height: 281px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
    width: 330px;
    height: 281px;
}

.front {
    background-image: url(images/red-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 55px;
    transform: rotateY(0deg);
}

.greenfan .front {
    background-image: url(images/blue-front.png);
}


.back {
    background-image: url(images/red-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 25px;
    transform: rotateY(180deg);
}

.greenfan .back {
    background-image: url(images/blue-back.png);
}

.fan:hover .redfan, .fan:hover .greenfan {
    cursor: pointer;
    transform: rotateY(180deg);
}

ul {
    text-align: center;
}

/*************** header ***************/
.scroll-container {
    position: relative;
    /* width: 282px; */
    overflow: hidden;
    animation: scrollDown 1s ease forwards;
    width: 100%;
}


.scroll {
    background-image: url(images/scroll.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

@keyframes scrollDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


h1 {
    font-family: "Protest Revolution", serif;
    font-size: 3.2em;
    color: #3D3836;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    padding: 50px 100px 120px 85px;
    text-align: center;
    
}

.h1a {
    margin-top: 10px;
}

.h1b {
    margin-top: 90px;
}

.rotate {
    display: block;
}

/*************** footer ***************/
footer {
    font-family: 'Rasa', serif;
    color: #3D3836;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: auto auto 10px auto;
}

footer a {
    color: #3D3836;
}


/*************** background ***************/
body {
    background: linear-gradient(288deg, rgba(101, 113, 102, 0.93) -13%, rgba(207, 214, 196, 0.93) 9.31%, rgba(243, 195, 178, 0.93) 31.63%, rgba(253, 232, 211, 0.93) 52.54%, rgba(218, 235, 227, 0.93) 77.4%, rgba(153, 205, 216, 0.93) 100%);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.bg-lights ul li {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    background: radial-gradient(rgb(255, 255, 255), transparent, transparent);
    bottom: 0; 
    left: 10vw;
    animation: bg-animation 15s linear infinite;
    z-index: 1;
}

.bg-lights ul li:nth-child(2){
    left: 5vw;
    animation-delay: 2s;
    background: radial-gradient(rgb(255, 154, 54), transparent, transparent);
}

.bg-lights ul li:nth-child(3){
    left: 40vw;
    animation-delay: 4s;
    background: radial-gradient(rgb(255, 154, 54), transparent, transparent);
}

.bg-lights ul li:nth-child(4){
    left: 55vw;
    animation-delay: 6s;
}

.bg-lights ul li:nth-child(5){
    left: 65vw;
    animation-delay: 5s;
}

.bg-lights ul li:nth-child(6){
    left: 76vw;
    animation-delay: 2s;
    background: radial-gradient(rgb(255, 154, 54), transparent, transparent);
}

.bg-lights ul li:nth-child(7){
    left: 85vw;
    animation-delay: 5s;
}

.bg-lights ul li:nth-child(8){
    left: 95vw;
    animation-delay: 2s;
}

.bg-lights ul li:nth-child(9){
    left: 32vw;
    animation-delay: 3s;
}

.bg-lights ul li:nth-child(10){
    left: 22vw;
    animation-delay: 5s;
}

.bg-lights ul li:nth-child(11){
    left: 42vw;
    animation-delay: 9s;
}

.bg-lights ul li:nth-child(12){
    left: 12vw;
    animation-delay: 8s;
}

.bg-lights ul li:nth-child(13){
    left: 95vw;
    animation-delay: 8s;
}

@keyframes bg-animation {
    0% {
        transform: scale(0);
        opacity: 1;
        top: 0;
    }
    100% {
        transform: scale(5);
        opacity: 0;
        top: 100%;
    }
}


/* petals */
body {
    position: relative;
    width: 100%;
    height: auto;
}

.falling-petals {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}

.falling-petals div {
    position: absolute;
    display: block;
    opacity: 0;
}

.falling-petals div:nth-child(1) {
    left: 3%;
    animation: petals 8s linear infinite;
}

.falling-petals div:nth-child(2) {
    left: 10%;
    animation: petals 10s linear infinite;
    animation-delay: 3s;
}

.falling-petals div:nth-child(3) {
    left: 20%;
    animation: petals 13s linear infinite;
}

.falling-petals div:nth-child(4) {
    left: 30%;
    animation: petals 15s linear infinite;
    animation-delay: 2s;
    z-index: 1;
}

.falling-petals div:nth-child(5) {
    left: 45%;
    animation: petals 12s linear infinite;
    animation-delay: 1s;
    z-index: 1;
}

.falling-petals div:nth-child(6) {
    left: 65%;
    animation: petals 15s linear infinite;
    animation-delay: 3s;
}

.falling-petals div:nth-child(7) {
    left: 80%;
    animation: petals 12s linear infinite;
    animation-delay: 1s;
    z-index: 1
}

.falling-petals div:nth-child(8) {
    left: 90%;
    animation: petals 15s linear infinite;
    animation-delay: 2s;
}

.falling-petals div:nth-child(9) {
    left: 97%;
    animation: petals 10s linear infinite;
}

@keyframes petals {
    0% {
        opacity: 0;
        top: 0%;
        transform: translateX(20px) rotate(0deg);
    } 
    5% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px) rotate(60deg);
    }
    40% {
        transform: translateX(-20px) rotate(0deg);
    }
    60% {
        transform: translateX(20px) rotate(50deg);
    }
    80% {
        transform: translateX(-20px) rotate(90deg);
    }
    100% {
        top: 110%;
        transform: translateX(20px) rotate(0deg);
    }
}