* {
	box-sizing: border-box;
}

main {
	padding: 35px;
}

main div {
    margin: auto;
    position: relative;
}

img {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: auto;
    height: 100vh;
}

h1 {
    font-family: 'Caveat Brush', Arial;
    font-size: 3em;
}

p {
    font-family: 'Inika', Serif;
    font-size: 1.1em;
    line-height: 30px;;
}

section {
    display: flex;
	flex-direction: column;
	justify-content: center;
    height: 100vh;
}

.color1 { 
    background-color: #f7f7f5; 
    transition: all 1s;
}
.color2 { 
    background-color: #ebc8c1; 
    transition: all 1s;
}
.color3 { 
    background-color: #d2dded; 
    transition: all 1s;
}
.color4 { 
    background-color: #FDF3DA; 
    transition: all 1s;
}
.color5 { 
    background-color: #d7c9a3; 
    transition: all 1s;
}
.color6 { 
    background-color: #f7f7f5; 
    transition: all 1s;
}