body {
    background: linear-gradient(180deg, #81A389 0%, #CFD6C4 34.01%, #FDE8D3 66.08%, #F3C3B2 100%);
    margin: auto;
    max-width: 700px;
    height: 100vh;
}

header {
    background-color:#FFF9F3;
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-family: "Protest Revolution", serif;
    font-size: 3em;
}

img {
    display: block;
    width: 600px;
    height: auto;
    margin: auto;
    border: solid 2px black;
}

main {
    background-color:#FFF9F3;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
}